<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MathForKids.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A58CE5431C7F041B002B876E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A58CE55C1C7F041B002B876E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A58CE5671C7F041B002B876E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
